%p
  An elimination match will be enabled between the bottom two teams in each group.
%p
  On the team page you may make teams exempt from elimination if you
  so choose.  Exempt teams will not be selected for elimination regardless of their
  finishing position.
%p
  Elimination match is only compatible with one of the round robin formats.
%p
  If there is a single division the 2 teams with the fewest points (unless exempt)
  will be selected for the elimination match.
