%p
  Teams advancing from the group stage can be chosen by several criteria
  %dl
    %dt Cross group by points
    %dd Group winners will face group second place finisher in opposite group
    %dt Same group by points
    %dd Group winners will face group second place finisher 
    %dt Pure points
    %dd Teams will be ranked based on points regardless of group, the top 4 will advance
    %dt Cross group by Record
    %dd Group winners will face group second place finisher in opposite group using record instead of points
    %dt Same group by Record
    %dd Group winners will face group second place finisher using record instead of points
    %dt Pure Record
    %dd Teams will be ranekd based on record regardless of group, the top 4 will advance

%p
  In all cases the tiebreakers are the number of holes up
  followed by the number of holes remaining (total per team).
