%p
  Teams advancing from the group stage can be chosen by several criteria
  %dl
    %dt Cross group by points
    %dd Group winners will face group second place finisher in opposite group
    %dt Same group by points
    %dd Group winners will face group second place finisher 
    %dt Pure points
    %dd Teams will be ranked based on points regardless of group
    %dt Record within their group
    %dd Teams will be ranked based on record (W/L/T) within their group
