.row
  %h3.page-header All Events
.row
  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    .list-group
      - Event.all.each do |event|
        %a.list-group-item{ href: url("/event/#{event.id}") } #{event.name}
