%html
  %head
    %meta( charset="utf-8" )
    %meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    %meta( name="viewport" content="width=device-width, initial-scale=1" )
    %meta( name="description" content="" )
    %meta( name="author" content="" )
    %link( ref="icon" href="/favicon.png" )
    %title TeamDG::#{@title}

    /= Bootstrap core CSS
    %link{ href: '/bower_components/bootstrap/dist/css/bootstrap.min.css', rel: 'stylesheet' }

    /= Font Awesome
    %link{ rel: 'stylesheet', href: '/bower_components/font-awesome/css/font-awesome.min.css' }

    /= Dashboard custom CSS
    %link{ href: '/css/dashboard.css', rel: 'stylesheet' }

    /= Custom css
    %link{ href: '/css/styles.css', rel: 'stylesheet' }

    %script{ src: '/bower_components/jquery/dist/jquery.min.js' }
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' }, 'aria-expanded': 'false', 'aria-controls': 'navbar' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: url('/') } TeamDG
        .navbar-collapse.collapse#navbar
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ href: '#' } Dashboard
            %li
              %a{ href: '#' } Settings
            %li
              %a{ href: '#' } Profile
            %li
              %a{ href: '#' } Help
          %form.navbar-form.navbar-right
            %input.form-control{ type: 'text', placeholder: 'Search...' }


    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            - pp request.path_info
            %li{ class: request.path_info == '/' ? 'active' : '' }
              %a{ href: url('/') } Overview
            %li{ class: request.path_info.include?('/events') ? 'active' : '' }
              %a{ href: url('/events/') }
                %i.fa.fa-calendar.fa-fw
                %span Events
                %span.badge.pull-right #{Event.all.count}
            %li{ class: request.path_info.include?('/event/new') ? 'active' : '' }
              %a{ href: url('/event/new') }
                %i.fa.fa-plus.fa-fw
                %span New Event

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          #page= yield

    %script{ src: '/bower_components/bootstrap/dist/js/bootstrap.min.js' }
    %script{ src: '/bower_components/bootstrap-validator/dist/validator.min.js' }

