%h3.page-header Create new event

.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %form.form-horizontal{ method: 'POST', data: { toggle: 'validator' } }
      .form-group.has-feedback
        %label.col-sm-2.control-label{ for: 'event_name' } Name:
        .col-sm-10
          %input.form-control#event_name{ placeholder: 'Team DG Challenge', type: 'text', name: 'event_name', required: true }
          .help-block.with-errors
      .form-group.has-feedback
        %label.col-sm-2.control-label{ for: 'event_startdate' } Dates:
        .col-sm-4
          .input-group
            %input.form-control#event_name{ type: 'text', name: 'event_startdate', required: true, data: { provide: 'datepicker', 'date-format': 'yyyy/mm/dd', 'date-week-start': 1 } }
            %span.input-group-addon to
            %input.form-control#event_name{ type: 'text', name: 'event_enddate', required: true, data: { provide: 'datepicker', 'date-format': 'yyyy/mm/dd', 'date-week-start': 1 } }
      .form-group#event_type
        %label.col-sm-2.control-label{ for: 'event_type' }
          Type:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Event Type',  content: 'One stage is played based on format.  Two stage lets you mix round-robin/elmination' } }
        .col-sm-10
          .radio
            %label
              %input#event_type_1{ type: 'radio', name: 'event_type', value: 'single_stage', checked: true }
              Single Stage
          .radio
            %label
              %input#event_type_2{ type: 'radio', name: 'event_type', value: 'two_stage', checked: false }
              Two Stage
      .form-group#stage_1_options
        %label.col-sm-2.control-label{ for: 'event_format1' }
          Stage One Format:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Stage Format',  content: 'Single Elimination: out after 1 loss.<br>Double Elmination: out after 2 losses.<br>Round Robin - Each team plays each team in their group (at least once).' } }
        .col-sm-10
          .radio
            %label
              %input#event_format1_elimination_1{ type: 'radio', name: 'event_format1', value: 'elmination_1', required: true }
              Single Elimination
          .radio
            %label
              %input#event_format1_elimination_2{ type: 'radio', name: 'event_format1', value: 'elmination_2', required: true, disabled: true }
              Double Elimination
          .radio
            %label
              %input#event_format1_round_robin{ type: 'radio', name: 'event_format1', value: 'round_robin', required: true }
              Round Robin
      .form-group.hidden#num_cycles
        %label.col-sm-2.control-label{ for: 'cycles' }
          Rounds:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Round Robin Rounds',  content: 'Number of times each team plays each other team in round robin format.' } }
        .col-sm-10
          %input.form-control#cycles{ placeholder: '1', type: 'number', name: 'cycles', required: true }
      .form-group
        %label.col-sm-2.control-label{ for: 'num_teams' }
          Teams:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Teams',  content: 'Number of teams in competition.' } }
        .col-sm-10
          %input.form-control#num_teams{ placeholder: '8', type: 'number', name: 'num_teams', required: true }
      .form-group
        %label.col-sm-2.control-label{ for: 'roster_size' }
          Players/Team
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Player per Team',  content: 'Number of players per team.' } }
        .col-sm-10
          %input.form-control#roster_size{ placeholder: '9', type: 'number', name: 'roster_size', required: true }
      .form-group
        %label.col-sm-2.control-label{ for: 'roster_size' }
          Seeds
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Seeds / Postions / Spots',  content: 'Seeds or positions on each team' } }
        .col-sm-10
          %input.form-control#roster_size{ placeholder: 'open1, open2, masters1, etc', type: 'text', name: 'team_seeds' }
      .form-group#num_groups
        %label.col-sm-2.control-label{ for: 'event_group_num' }
          Groups:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Groups / Divisions',  content: 'Number of groups of teams.  Round Robin often splits these into divisions.  Must have at least 1.' } }
        .col-sm-10
          %select.form-control{ name: 'event_group_num', required: true }
            %option{ selected: true } 1
            %option 2
            %option{ disabled: true } 3
            %option{ disabled: true } 4
      .form-group#stage_2_options
        %label.col-sm-2.control-label{ for: 'event_format2' }
          Stage Two Format:
          %i.fa.fa-question-circle.fa-fw{ data: { container: 'body', toggle: 'popover', placement: 'top', title: 'Stage Format',  content: 'Single Elimination: out after 1 loss.<br>Double Elmination: out after 2 losses.<br>Round Robin - Each team plays each team in their group (at least once).' } }
        .col-sm-10
          .radio
            %label
              %input#event_format2_1{ type: 'radio', name: 'event_format2', value: 'elimination_1', checked: true }
              Single Elimination
          .radio
            %label
              %input#event_format2_1{ type: 'radio', name: 'event_format2', value: 'elimination_2', disabled: true }
              Double Elimination
      %button.btn.btn-primary{ type: 'submit' } Create event

:javascript
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({ 'trigger': 'hover', 'html': 'true' });

    if ($('#event_type_1').is(':checked')) {
      $('#stage_2_options').addClass('hidden');
      $('#group_advance').addClass('hidden');
    }

    if ($('#event_format1_round_robin').is(':checked')) {
      $('#num_cycles').removeClass('hidden');
    }

    if ($('#event_format1_elimination_1').is(':checked') || $('#event_format1_elimination_2').is(':checked')) {
    }
  });

  $('#event_type_1').click(function(e) {
    $('#stage_2_options').addClass('hidden');
  });
  $('#event_type_2').click(function(e) {
    $('#stage_2_options').removeClass('hidden');
  });
  $('#event_format1_round_robin').click(function(e) {
    $('#num_cycles').removeClass('hidden');
  });
