%ol.breadcrumb
  %li
    %a{ href: url("/event/#{@event.id}") } #{@event.name.upcase}
  %li.active Teams

.list-group
  - @event.teams.each do |team|
    %a.list-group-item{ href: url("/team/#{team.id}") }= team.name
