.clickable {
  cursor: pointer;
}

.dragable {
  cursor: move;
}

span.amp {
  font-family:"Baskerville","Goudy Old Style","Palatino","Book Antiqua",serif;
  font-size:200%;
  font-style:italic;
}

td.versus, th.versus {
  text-align: center;
}

td.game_cell, th.game_cell {
  vertical-align: middle !important;
}

.header_icon {
  font-size: 0.4em;
}

.inside_calendar {
  margin-top: 0.3em;
}

.fa-sm {
  font-size: 0.5em;
}

.fa-xs {
  font-size: 0.3em;
}

.game_cell {
  max-width: 100px;
}

th.match_header {
  max-width: 115px;
}

.nowrap {
  white-space: nowrap;
}
